<%- include("../partials/header") %>


  <% if (error) { %>
    <p class="auth-error"><%= error %></p>
  <% } %>

  <% if (success) { %>
    <p class="auth-success"><%= success %></p>
  <% } %>






<div class="auth-container">
  <div class="auth-card">
    <h2 class="auth-title">Forgot Password</h2>

    <form method="POST" action="/forgot-password">
      <div class="form-group">
        <label>Email</label>
        <input type="email" name="email" required placeholder="Enter your email">
      </div>

      <button type="submit" class="btn-accent">
        Continue
      </button>
    </form>
  </div>
</div>

<%- include("../partials/footer") %>